@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  @apply box-border;
}

html,
body {
  @apply h-full transition-all duration-300;
}

#__next {
  @apply h-full bg-white font-sans;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
